html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: #2196F3;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 91px;
}

.header-logo {
  color: #2196F3;
}

.nav-list {
  display: flex;
  margin-bottom: 32px;
  margin-right: 315px;
  margin-top: 32px;
}

.nav-list-item {
  color: #212121;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  position: relative;
  padding-bottom: 28px;
}

.nav-contacts {
  display: flex;
}

.nav-contacts-item {
  color: #757575;
}

.nav-contacts-item:not(:last-child) {
  margin-right: 30px;
}

.nav-contacts-link {
  display: flex;
  align-items: center;
}

.nav-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  nav {
    display: none;
  }
  .nav-contacts {
    display: none;
  }
  .menu-button {
    border: none;
    background-color: transparent;
  }
  .menu-button-icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .nav-list-item {
    color: #212121;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .header .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-contacts {
    display: block;
  }
}
.section-hero {
  background-image: url(../imgs/jpgs/team.jpg);
  width: 1490px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 94px;
}

.hero-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-button {
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196F3;
  border-radius: 4px;
}

.hero-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.section-icons {
  margin-bottom: 94px;
}

.icons-list {
  display: flex;
}

.icons-list-item:not(:last-child) {
  margin-right: 30px;
}

.icons-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.icons-list-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.icons-list-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-features {
  margin-bottom: 94px;
}

.features-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.features-box {
  display: flex;
  justify-content: space-between;
}

.section-team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list-item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-list-icons {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.team-icons-item:not(:last-child) {
  margin-right: 10px;
}

.team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #2196F3;
}

.team-icons-link:hover .icon,
.team-icons-link:focus .icon {
  fill: #FFFFFF;
}

.icon {
  fill: #AFB1B8;
}

.clients-section {
  margin-bottom: 94px;
}

.clients-title {
  margin-top: 94px;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

.footer {
  height: 252px;
  background-color: #2F303A;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  margin-top: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-web {
  color: #2196F3;
}

.footer-contacts-list {
  margin-top: 20px;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-mail {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-number {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-apps {
  margin-top: 72px;
}

.footer-apps-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-apps-list {
  display: flex;
  justify-content: space-between;
}

.footer-btn {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-sub {
  margin-top: 72px;
}

.footer-sub-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-sub-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  padding-left: 16px;
}

.footer-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */