html {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: 93px;
}

.section-team {

}

.container {

}

.team-title {
}

.team-list {
    
}

.team-list-item {
}

.team-image {
    width: 270px;
    height: 260px;
}

.team-list-title {
}

.team-list-text {

}

