html {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}



/* HEADER */



.logo {
    margin-bottom: 25px;
}


.nav-list-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
}

.nav-contacts {
    display: flex;
    justify-content: space-between;
}

.nav-contacts-item {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;
}

.nav-contacts-item:not(:last-child) {
    margin-right: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.nav-list {
    display: flex;
    margin-bottom: 32px;
    margin-right: 318px;
}

.nav-list-item {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-list-item:hover {
    color: #2196F3;
}

.nav-contacts-item:hover {
    color: #2196F3;
}

.nav-list-link {
}

.nav-contacts-icon {
    fill: #757575;
    margin-right: 10px;
}






/* HERO */




.section-hero {
    background-image: url(../imgs/jpgs/team.jpg);
    width: 1600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 94px;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.hero-button {
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 460px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    background: #2196F3;
    border-radius: 4px;
}

.hero-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: #FFFFFF;
}




/* ICONS */



.section-icons {
    margin-bottom: 94px;
}

.icons-list {
    display: flex;

}

.icons-list-item {

}

.icons-list-item:not(:last-child) {
    margin-right: 30px;
}

.icons-background {
    background-color: #F5F4FA;
    border-radius: 4px;
}

.icons-list-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

.icons-list-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: #757575;
}






.section-projects {
    margin-bottom: 94px;
}
.projects-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.projects-box {
    display: flex;
    justify-content: space-between;
}



/* TEAM */



.section-team {
    width: 1600px;
    height: 708px;

    background-color: #f5f4fa;
}

.team-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;

    padding-top: 94px;
    padding-bottom: 50px;
    padding-left: 168px;

}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.team-list:not(:last-child) {
    margin-right: 30px;
}

.team-list-item {
    width: 270px;
    height: 428px;
}

.team-icons-item:not(:last-child) {
    margin-right: 10px;
}

.team-list-icons {
    display: flex;
    
}

.team-image {
    width: 270px;
    height: 260px;
}

.team-list-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.team-list-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
}


/* FOOTER */


.footer {
    height: 252px;
    background-color: #2F303A;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-contacts {
}
.footer-logo {
}
.footer-contacts-list {
}
.footer-contacts-item {
    
}

.footer-adress {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.footer-mail {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}

.footer-number {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}

.footer-apps-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.footer-apps-list {

}

.footer-apps-item {

}

.footer-input {

}

.footer-btn {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    
}