.clients-section {
    margin-bottom: 94px;
}

.clients-title {
    margin-top: 94px;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.84px;
    
    color: #212121;
}

.clients-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.clients-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    flex-basis: calc((100% - 2 * 30px) / 2);
}

.clients-icon:hover {
    fill: #2196F3;
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}

.clients-title {
    margin-top: 94px;
    color: #212121;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.84px;
}

@media screen and (min-width: 768px) {
    .clients-list-item {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
}

@media screen and (min-width: 1200px) {
    .clients-title {
        color: #212121;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.08px;
    }

    .clients-list-item {
        flex-basis: auto;
    }
}