.section-features {
    margin-bottom: 94px;
}

.features-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-bottom: 50px;
    color: #212121;
}

.features-box {
    display: flex;
    justify-content: space-between;
}
