.section-features {
    display: none;
    margin-bottom: 94px;
}

@media screen and (min-width: 1200px) {
    .section-features {
        display: block;
    }

    .features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        
        margin-bottom: 50px;
    }

    .features-box {
        display: flex;
        justify-content: space-between;
    }
}