.footer {
    background-color: #2F303A;
    text-align: center;
}

// .footer-box {
//     display: flex;
//     justify-content: space-between;
// }

.footer-contacts {
    margin-top: 60px;
}

.footer-logo {
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    letter-spacing: 0.72px;
    margin-bottom: 20px;
}

.footer-web {
    color: #2196F3;
}

.footer-contacts-list {
    margin-top: 20px;
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 8px;
}

.footer-adress {
    color: #FFF;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-mail {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-number {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-apps {
    margin-top: 60px;
}

.footer-apps-title {
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-apps-list {
    display: flex;
    justify-content: center;
}

.footer-apps-item:not(:last-child) {
    margin-right: 10px;
}

.footer-icon {
    fill: #FFF;
}

.footer-sub {
    margin-top: 60px;
}

.footer-sub-title {
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

// .footer-sub-form {
//     display: inline-flex;
// }

.footer-input {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #2F303A;
    padding-left: 16px;
    margin-bottom: 20px;
    margin-right: 12px;
}

.footer-btn {
    
    border: none;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .footer-tablet {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-input {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 1200px) {
    .footer {
        text-align: unset;
    }


}