


.header {
    
}

.logo {
    color: #212121;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
}

.header-logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
}

.nav-list {

}

.nav-list-item {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.nav-list-link {

}

.nav-contacts {
    
}

.nav-contacts-item {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.nav-contacts-link {
    display: flex;
    align-items: center;
}

.nav-contacts-icon {
    fill: #757575;
}

// MOBILE MENU

.mobile-menu {}

.mobile-menu-container {}

.menu-button {
    border: none;
    background-color: transparent;
}

.menu-button-icon {}

@media screen and (min-width: 768px) {
    .header .container {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin-right: 88px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .current {
        color: #2196F3;
    }
    
    .current::after {
        content: "";
        margin-top: 28px;
        display: block;
        background: #2196F3;
        border-radius: 2px;
        width: 100%;
        height: 4px;
    }

    .nav-list {
        display: flex;
        margin-right: 98px;
        padding-top: 32px;
        
    }

    .nav-list-item:not(:last-child) {
        margin-right: 50px;
    }

    .nav-contacts-item {
        display: flex;
        align-items: center;
    }

    .nav-contacts-icon {
        margin-right: 8px;
    }

    .nav-contacts-item:not(:last-child) {
        margin-bottom: 10px;
    }

    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .nav-list {
        margin-right: 315px;
    }

    .nav-contacts {
        display: flex;
        align-items: center;
    }

    .nav-contacts-item {
        // padding-top: 32px;
    }

    .nav-contacts-item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0px;
    }
}