.header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    & .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;
    margin-right: 91px;
}

.header-logo {
    color: #2196F3;
}

.nav-list {
    display: flex;
    margin-bottom: 32px;
    margin-right: 315px;
    margin-top: 32px;
}

.nav-list-item {
    color: #212121;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-list-link {
    position: relative;
    padding-bottom: 28px;
}

.nav-contacts {
    display: flex;
    
}

.nav-contacts-item {
    color: #757575;
}

.nav-contacts-item:not(:last-child) {
    margin-right: 30px;
}

.nav-contacts-link {
    display: flex;
    align-items: center;
}

.nav-contacts-icon {
    fill: currentColor;
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    nav {
        display: none;
    }

    .nav-contacts {
        display: none;
    }

    .menu-button {
        border: none;
        background-color: transparent;
    }

    .menu-button-icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .menu-button {
        display: none;
    }

    .nav-list-item {
        color: #212121;
        font-weight: 500;
        letter-spacing: 0.28px;
    }

    .nav-list-item:not(:last-child) {
        margin-right: 50px;
    }

    .header .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-contacts {
        display: block;
    }
}