.section-hero {
    height: 400px;

    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.40) , rgba(47, 48, 58, 0.40) ), 
    url(../imgs/jpgs/hero/hero-mobile.jpg);
    

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: #2F303A;
}

.hero-title {
    margin-bottom: 30px;
    color: #FFF;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
}

.hero-button {
    width: 200px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    
    border: none;
    background: #2196F3;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .section-hero {
        background-image: linear-gradient(to right,
         rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)),
        url(../imgs/jpgs/hero/hero-tablet.jpg);
    }

    .hero-title {
        padding-top: 118px;
    }
}

@media screen and (min-width: 1200px) {
    .section-hero {
        height: 600px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)),
        url(../imgs/jpgs/hero/hero-desktop.jpg);
    }

    .hero-button {
        width: 216px;
        height: 50px;
    }

    .hero-title {
        padding-top: 232px;
        color: #FFF;
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 2.64px;
        text-transform: uppercase;
    }
}