.section-hero {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40) , rgba(47, 48, 58, 0.40) ), url(/imgs/jpgs/hero/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: #2F303A;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.hero-button {
    width: 216px;
    height: 50px;
    text-align: center;
    letter-spacing: 0.06em;

    background: #2196F3;
    border-radius: 4px;
}

.hero-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    
}