.icons-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.icons-list-item {
    width: 450px;
}

.icons-list-item:not(:last-child) {
    margin-bottom: 30px;
}

.icons-list-title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.icons-list-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}



@media screen and (min-width: 768px) {
    .icons-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .icons-list-item:not(:last-child) {
        margin-right: 30px;
    }

    .icons-item {
        flex-basis: calc((100% - 2 * 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .icons-list-item {
        flex-basis: calc((100% - 2 * 30px) / 4);
    }

    .icons-list {
        flex-wrap: nowrap;
    }
}