.section-team {
    background-color: #f5f4fa;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-title {
    color: #212121;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.84px;
  
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-list-item {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px
     rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-image {
    margin-bottom: 30px;
}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    margin-bottom: 10px;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
    margin-bottom: 16px;
}

.team-list-icons {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.team-icons-item:not(:last-child) {
    margin-right: 10px;
}

.team-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: white;    
}

.team-icons-link:hover,
.team-icons-link:focus {
    background-color: #2196F3;
}

.team-icons-link:hover .icon, 
.team-icons-link:focus .icon {
    fill: #FFFFFF;
}

.icon {
    fill: #AFB1B8;
    transition: fill 250ms ease-in;
}

@media screen and (min-width: 767px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .team-list-item {
        flex-basis: calc((100% - 3 * 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .team-list-item {
        flex-basis: calc((100% - 3 * 30px) / 4);
    }

    .team-title {
        font-size: 36px;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
}