.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 250ms ease-in;
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        fill: ;
        border: ;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
        height: 581px;
    }
}

.modal-label {
}

.modal-input-title {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}

.modal-input-comment {
}
.checkbox-label {
}
.checkbox-input {
}
.checkbox-title {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
}

.checkbox-link {
    color: #2196F3;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-decoration-line: underline;
}

.modal-button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}