.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.modal-form {
    position: relative;
}

.modal-label {

}

.modal-input-title {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.modal-form-field {
}


.modal-form-input {
    width: 100%;
    padding-left: 42px;
    
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    cursor:pointer;
    box-sizing: border-box;
    
    &:focus {
        outline: none;
    }
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;

    &:focus {
        
    }
}

.modal-label {
}

.modal-input-title {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}

.modal-input-comment {
}
.checkbox-label {
}
.checkbox-input {
}
.checkbox-title {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
}

.checkbox-link {
    color: #2196F3;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-decoration-line: underline;
}

.modal-button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}